body,
main {
    /* Fonts */
    --font-family-primary: 'Helvetica', sans-serif;

    --font-size-small: 16px;
    --font-size-medium: 24px;
    --font-size-large: 32px;

    /* Top Level Styles */

    background-color: var(--color-background);
    color: var(--color-font);
    font-family: var(--font-family-primary);

    /* Gutters */

    --gutters-y: 12px;
    --gutters-x: 24px;
    --header-height: 64px;

    /* Flex Gaps */

    --flex-gap-small: 4px;
    --flex-gap-medium: 8px;
    --flex-gap-large: 16px;

    /* Paddings */

    --padding-small: 4px;
    --padding-medium: 12px;
    --padding-large: 24px;


    /* Mixed Colors */
    --color-card-background: color-mix(in lab, var(--color-background), currentColor 30%);
}

.light-theme {
    --color-error-background: #ee8989;
    --color-error-font: #af1906;

    --color-green-baseline: #46c045;
    --color-blue-baseline: #2b35b2;
    --color-red-baseline: #bd1616;

    --color-background: #e1e1e1;
    --color-font: #101010;
}

.dark-theme {
    --color-error-background: #da6b6b;
    --color-error-font: #af1906;

    --color-green-baseline: #46c045;
    --color-blue-baseline: #2b35b2;
    --color-red-baseline: #bd1616;

    --color-background: #111;
    --color-font: #efefef;
}
